@import 'reset';
@import 'font-awesome';

/* Custom CSS starts here */


html, body {
  font-family: 'Merriweather', serif;
  color: #444;
  text-align: center;
}

html, body h2 {
  font-size: 72px;
  margin-top: 5%;
  margin-bottom: 15px;
}

article {
  font-size: 20px;
  text-align: center;
  width: 500px;
  display: inline-block;
  line-height: 28px;

  a:link, a:visited {
    text-decoration: none;
  }
}

a, a:visited {
  color: #7890A8;
}

a.social {
  display: block;
}

a:hover {
  color: #D96528;
}

.social {

  padding: 15px;

  ul > li {
    margin-bottom: -15px;
  }

  a:link, a:visited {
    text-decoration: none;
  }

  i {
    font-size: 42px;
  }

  span {
    font-size: 30px;
  }
  span.blog {
    margin-right: 44px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  html, body h2 {
    font-size: 95px;
  }

  article {
    font-size: 42px;
    text-align: center;
    width: 645px;
    display: inline-block;
    line-height: 55px;
  }

  .social {
    ul > li {
      padding-bottom: 20px;
    }
    margin-top: 100px;
    i {
      font-size: 130px;
    }
    span {
      font-size: 90px;
    }
    span.blog {
      margin-right: 130px;
    }
  }
}

