html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, a, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

*:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

mark {
  font-style: italic;
  font-weight: bold; }

input, select {
  vertical-align: middle; }

  html, body {
    font-family: 'Merriweather', serif;
    color: #3f4944;
    text-align: center;
  }

  html, body h2 {
    font-size: 72px;
    margin-top: 5%;
    margin-bottom: 15px;
  }

  article {
    font-size: 20px;
    text-align: center;
    width: 500px;
    display: inline-block;
    line-height: 28px;
  }

  a, a:visited {
    color: #CCC;
  }

  a:hover {
    color: #666;
  }

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    html, body h2 {
      font-size: 35px;
    }

    article {
      font-size: 18px;
      text-align: center;
      width: 250px;
      display: inline-block;
      line-height: 25px;
    }
  }
